<script lang="ts">
	export let left: boolean = false;
	export let imgsrc: string;
	export let imgalt: string;
	export let header: string;
	export let href: string;
	import Link from './detailComponents/Link.svelte';
</script>

<section class="category" id={left ? 'left-img' : ''}>
	<h2><Link {href}>{header}</Link></h2>
	<slot />
	<img src={imgsrc} alt={imgalt} />
</section>

<style>
	.category {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		border-top: 2px solid orangered;
		border-bottom: 2px solid orangered;
		padding-left: 2rem;
		padding-right: 2rem;
		column-gap: 2rem;
		align-items: center;
		justify-content: center;
	}

	.category h2 {
		text-align: center;
	}

	.category img {
		grid-column: 2 / 3;
		grid-row: 1 / 3;
		width: 100%;
	}

	#left-img img {
		grid-column: 1 / 2;
		grid-row: 1 / 3;
		width: 100%;
	}
	@media only screen and (max-width: 600px) {
		.category {
			display: flex;
			flex-direction: column;
		}
	}
</style>
