<script lang="ts">
	export let title: string;
	let currentSlide = 0;
	let carouselSlideSlot: Element;

	let innerWidth: number;

	function slideLeft() {
		if (currentSlide > 0) {
			currentSlide--;
		}
	}

	function slideRight() {
		let numberOfVisibleSlides = Math.floor(innerWidth / 450);
		console.log(numberOfVisibleSlides);
		if (currentSlide < carouselSlideSlot.childElementCount - numberOfVisibleSlides) {
			currentSlide++;
		}
	}
</script>

<svelte:window bind:innerWidth />

<section class="carousel__container">
	<h3 class="carousel__title">{title}</h3>
	<div class="carousel__track">
		<button class="carousel__nav" id="carousel__nav--left" on:click={slideLeft}>{'<'}</button>
		<div
			class="carousel__car"
			style={`transform: translateX(${currentSlide * -450}px);`}
			bind:this={carouselSlideSlot}
		>
			<slot />
		</div>
		<button class="carousel__nav" id="carousel__nav--right" on:click={slideRight}>{'>'}</button>
	</div>
</section>

<style>
	.carousel__container {
		width: 100%;
		overflow: hidden;
		display: grid;
	}

	.carousel__title {
		grid-template-columns: 1fr;
		align-items: center;
		justify-content: center;
	}

	.carousel__track {
		position: relative;
		height: 323px;
		transition: all 0.2s ease-in-out;
	}

	.carousel__car {
		position: absolute;
		display: flex;
		flex-direction: row;
		column-gap: 2rem;
		align-items: center;
		justify-content: center;
		transition: all 0.5s ease-in-out;
		margin-left: 32px;
	}

	.carousel__nav {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 999;
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
		border: none;
		padding: 2rem 1rem;
	}

	.carousel__nav:hover {
		transition: all 0.1s ease-in;
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0.8);
	}

	#carousel__nav--left {
		border-top-right-radius: 1rem;
		border-bottom-right-radius: 1rem;
		left: 0;
		border-right: solid 2px transparent;
		border-top: solid 2px transparent;
		border-bottom: solid 2px transparent;
	}

	#carousel__nav--right {
		border-top-left-radius: 1rem;
		border-bottom-left-radius: 1rem;
		right: 0;
		border-left: solid 2px transparent;
		border-top: solid 2px transparent;
		border-bottom: solid 2px transparent;
	}

	@keyframes leftbtnanimation {
		0% {
			border-right: solid 2px transparent;
			border-top: solid 2px transparent;
			border-bottom: solid 2px transparent;
		}
		33% {
			border-top: solid 2px #f58427;
		}
		67% {
			border-right: solid 2px #f58427;
		}
		100% {
			border-bottom: solid 2px #f58427;
		}
	}

	@keyframes rightbtnanimation {
		0% {
			border-left: solid 2px transparent;
			border-top: solid 2px transparent;
			border-bottom: solid 2px transparent;
		}
		33% {
			border-top: solid 2px #f58427;
		}
		67% {
			border-left: solid 2px #f58427;
		}
		100% {
			border-bottom: solid 2px #f58427;
		}
	}

	#carousel__nav--left:hover {
		animation-name: leftbtnanimation;
		animation-duration: 0.2s;
		border-top: solid 2px #f58427;
		border-right: solid 2px #f58427;
		border-bottom: solid 2px #f58427;
	}

	#carousel__nav--right:hover {
		animation-name: rightbtnanimation;
		animation-duration: 0.2s;
		border-top: solid 2px #f58427;
		border-left: solid 2px #f58427;
		border-bottom: solid 2px #f58427;
	}
</style>
