<script lang="ts">
	type slideTypes = 'text' | 'video' | 'image';
	export let slidetype: slideTypes;
	import ImageSlideContent from './SlideContent/ImageSlideContent.svelte';
	import TextSlideContent from './SlideContent/TextSlideContent.svelte';
	import VideoSlideContent from './SlideContent/VideoSlideContent.svelte';
	export let src: string;
	export let title: string;
</script>

<div>
	{#if slidetype === 'text'}
		<TextSlideContent />
	{:else if slidetype === 'image'}
		<ImageSlideContent />
	{:else if slidetype === 'video'}
		<VideoSlideContent {src} {title} />
	{/if}
</div>
