<script context="module" lang="ts">
	export const prerender = true;
</script>

<script lang="ts">
	import Category from '$lib/Category.svelte';
	import Paragraph from '$lib/detailComponents/Paragraph.svelte';
</script>

<svelte:head>
	<title>Home</title>
</svelte:head>

<section id="hero">
	<img src="caltech-up-close-postcard.jpg" alt="Greetings from Caltech!" id="hero__image" />
	<div id="hero__description">
		<h1>Congratulations!!</h1>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus aperiam mollitia modi
			et consectetur, dolores sunt possimus reiciendis magni aspernatur inventore commodi unde ipsa
			quasi, velit magnam corporis quibusdam provident!
		</p>
	</div>
</section>

<Category imgsrc="discotech.jpg" imgalt="Discover Caltech" header="Events" href="/events" left>
	<Paragraph>
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam fugit libero impedit ab,
		harum officia neque, dolores consequuntur velit vitae atque. Minima officiis amet iusto velit!
		Quis excepturi provident voluptatibus!
	</Paragraph>
</Category>

<Category imgsrc="discotech.jpg" imgalt="Discover Caltech" header="Connections" href="/connections"
	><Paragraph>
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam fugit libero impedit ab,
		harum officia neque, dolores consequuntur velit vitae atque. Minima officiis amet iusto velit!
		Quis excepturi provident voluptatibus!</Paragraph
	></Category
>

<Category
	imgsrc="discotech.jpg"
	imgalt="Discover Caltech"
	header="Financial Aid"
	href="/financial-aid"
	left
	><Paragraph>
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam fugit libero impedit ab,
		harum officia neque, dolores consequuntur velit vitae atque. Minima officiis amet iusto velit!
		Quis excepturi provident voluptatibus!</Paragraph
	></Category
>

<Category
	imgsrc="discotech.jpg"
	imgalt="Discover Caltech"
	header="Life at Caltech"
	href="/student-life"
>
	<Paragraph>
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam fugit libero impedit ab,
		harum officia neque, dolores consequuntur velit vitae atque. Minima officiis amet iusto velit!
		Quis excepturi provident voluptatibus!</Paragraph
	>
</Category>

<style>
	#hero {
		background-color: white;
		position: relative;
	}
	#hero__image {
		clip-path: polygon(100% 0, 0% 100%, 0 0);
		width: 100%;
	}

	#hero__description {
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translate(-10%, -30%);
		text-align: right;
		margin-right: 2rem;
	}

	#hero__description h1 {
		padding: 0;
		text-align: right;
	}

	#hero__description p {
		width: 40%;
		margin-left: auto;
	}

	@media only screen and (max-width: 600px) {
		#hero__image {
			clip-path: none;
		}
		#hero__description {
			position: relative;
			margin-right: 0;
			text-align: center;
			width: 100%;
			transform: translate(0);
		}

		#hero__description p {
			width: 80vw;
			margin: 0 auto;
		}

		#hero__description h1 {
			margin: 1rem auto;
			text-align: center;
		}
	}
</style>
