<script lang="ts">
	import Carousel from '$lib/detailComponents/Carousel/Carousel.svelte';
	import CarouselSlide from '$lib/detailComponents/Carousel/CarouselSlide.svelte';
	import Paragraph from '$lib/detailComponents/Paragraph.svelte';
</script>

<Paragraph
	>This series is the creative genius of Amy Wang (Alumna 2021). As soon as she heard about the
	"Admitted Weekend" two years ago, she turned on her camera and began to chronicle her life on
	campus. Thank you, Amy, for sharing your experiences with us!</Paragraph
>

<Carousel title={'Day in the Life Videos'}>
	<CarouselSlide
		slidetype="video"
		src="https://www.youtube.com/embed/PBNMs8MjT2Y"
		title="Day in the life of a Caltech student Day 1"
	/>
	<CarouselSlide
		slidetype="video"
		src="https://www.youtube.com/embed/VpPACjaSy3o"
		title="Day in the life of a Caltech student Day 2"
	/>
	<CarouselSlide
		slidetype="video"
		src="https://www.youtube.com/embed/_XgAl5cB16E"
		title="Day in the life of a Caltech student Day 3"
	/>
	<CarouselSlide
		slidetype="video"
		src="https://www.youtube.com/embed/bp2ogS1uTYo"
		title="Day in the life of a Caltech student Day 4"
	/>
	<CarouselSlide
		slidetype="video"
		src="https://www.youtube.com/embed/0SpITNrJkNU"
		title="Day in the life of a Caltech student Day 5"
	/>
	<CarouselSlide
		slidetype="video"
		src="https://www.youtube.com/embed/GEAMxtUm0rM"
		title="Day in the life of a Caltech student Day 6"
	/>
	<CarouselSlide
		slidetype="video"
		src="https://www.youtube.com/embed/2GXSfpMRxVI"
		title="Day in the life of a Caltech student Day 7"
	/>
	<CarouselSlide
		slidetype="video"
		src="https://www.youtube.com/embed/Ibg3EVRu8bk"
		title="Day in the life of a Caltech student Bonus"
	/>
</Carousel>
