<script lang="ts">
	import { page } from '$app/stores';
	import logo from './caltech-logo.svg';
	export const prerender = true;
</script>

<header>
	<a href="https://www.caltech.edu"><img src={logo} alt="Caltech" /></a>

	<nav>
		<a href="/">Home</a> |
		<a href="/events">Events</a> |
		<a href="/connections">Connections</a> |
		<a href="/financial-aid">Financial Aid</a> |
		<a href="/student-life">Life at Caltech</a>
	</nav>
</header>

<style>
	header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 2rem;
	}
</style>
