<script lang="ts">
	type alignTypes = 'left' | 'right' | 'center';

	export let src: string;
	export let alt: string;
	export let align: alignTypes = 'left';
	export const prerender = true;
	let margin: string = '0 auto';
	switch (align) {
		case 'left':
			margin = '0 auto 0 0';
			break;
		case 'center':
			margin = '0 auto';
			break;
		case 'right':
			margin = '0 0 0 auto';
			break;
	}
	console.log(align);
	console.log(`margin: ${margin}`);
</script>

<div class="image__container" style={`margin: ${margin}`}>
	<img class="image" {src} {alt} />
</div>

<style>
	.image {
	}

	.image__container {
		width: fit-content;
	}
</style>
